/* .container {
    max-width: 800px;
}

.image {
    width: 250px;
    float: left;
}

.image02 {
    width: 250px;
    float: right;
}

.clear {
    clear: both;
} */

*{
    margin: 0;
    padding: 0;
}

.layout-container {
    width: 100%;
    max-width: 1200px;
    border: 10px solid #000;
    margin: 0 auto;
    overflow: auto;
}

.layout-item {
    padding: 30px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.column-2 {
    float: left;
    width: 49%;
}

.margin-right {
    margin-right: 2%;
}

/* 3단 레이아웃 */
.clear {
    clear: both;
}

.column-3 {
    float: left;
    width: 32%;
}

/* 4단 레이아웃 */
.column-4 {
    float: left;
    width: 23.5%;
}
